:root {
  --color-white: #FFF;
  --color-darkest-grey: #111;
  --color-main-red: #EF4934;
  --color-grey4: #E1E1E1;
  --color-grey3: #CCC;
  --color-grey2: #585858;
  --color-grey1: #333;
}

.triageBarContainer {
  display: flex;
  align-items: center;
}

.triageBarContainer p {
  color: var(--color-darkest-grey);
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

.triageBar {
  border: 1px solid var(--color-grey3);
  position: relative;
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 50px;
  cursor: pointer;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.arrow {
  margin-left: 8px;
  transition: transform;
}

.arrow.open {
  transform: rotate(180deg);
}

.selectedOption {
  color: var(--color-darkest-grey);
  background-color: var(--color-white);
  border-radius: 50px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  top: 0;
}

.selectedOption.active {
  background-color: var(--color-main-red);
  color: var(--color-white);
  border-right: 1px solid var(--color-grey3);
}

.options {
  position: absolute;
  top: 10px;
  width: calc(100% + 2px);
  left: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey3);
  border-top: none;
  list-style: none;
  padding: 10px 0;
  margin-top: 0;
  border-radius: 0 0 20px 20px;
  z-index: 0;
  box-sizing: border-box;
  transform: translateY(12%);
}

.options li {
  border-radius: 20px;
  padding: 8px 16px;
  color: var(--color-grey1);
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1249px) {

  .triageBarContainer {
    justify-content: flex-start;
  }
}
