@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  min-width: 390px;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --light: #FFF;
  --dark: #111;
  --main-red: #EF4934;
  --grey1: #CCC;
  --grey2: #E1E1E1;
  --grey3: #333;
  --grey4: #585858;
}

.dark {
  --background-color: var(--dark);
  --text-color: var(--light);
  --button-background-color: var(--grey3);
  --button-text-color: var(--light);
  --button-select-color: var(--main-red);
  --card-color: var(--grey4);
  --item-cart-color: var(--dark);
  --search-background-color: var(--grey3);
  --name-button-background-color: var(--dark);
  --name-button-selected-text-color: var(--light);
  --name-button-border-color: var(--grey3);
  --triage-default-background-color: var(--dark);
  --triage-option-background-color: var(--grey3);
  --arrow-diabel-color: var(--light);
  --arrow-anabel-color: var(--light);
}

.light {
  --background-color: var(--light);
  --text-color: var(--dark);
  --button-background-color: var(--dark);
  --button-text-color: var(--light);
  --button-select-color: var(--main-red);
  --card-color: var(--grey1);
  --item-cart-color: var(--dark);
  --search-background-color: var(--light);
  --name-button-background-color: var(--light);
  --name-button-selected-text-color: var(--light);
  --name-button-border-color: var(--grey2);
  --triage-default-background-color: var(--light);
  --triage-option-background-color: var(--light);
  --arrow-diabel-color: var(--dark);
  --arrow-anabel-color: var(--light);
}

